<div class="mbox">
    <div class="ability">
        <div class="ability__text">
            <div class="ability__words"><h1 class="dark">Возможности Битрикс24 </h1></div>
            <div class="ability__square"></div>

        </div>
        <div class="ability__all">
            <div class="ability__box">
                <div class="ability__circle">
                    <img src="/images/1.png" alt="">
                </div>
                <div class="ability__text-box">CRM<span><br>Повышайте продажи. Работайте с клиентами в CRM.</span></div>
            </div>
            <div class="ability__box">
                <div class="ability__circle">
                    <img src="/images/2.png" alt="">
                </div>
                <div class="ability__text-box">Задачи и проекты<span><br>Следите за сроками, делегируйте, контролируйте выполнение.</span></div>
            </div>
            <div class="ability__box">
                <div class="ability__circle">
                    <img src="/images/3.png" alt="">
                </div>
                <div class="ability__text-box">Телефония<span><br>Звоните на стационарные и мобильные телефоны прямо из CRM.</span></div>
            </div>
            <div class="ability__box">
                <div class="ability__circle">
                    <img src="/images/4.png" alt="">
                </div>
                <div class="ability__text-box">Соцсеть компании<span><br>Обсуждайте и принимайте решения. Быстро и легко.</span></div>
            </div>
            <div class="ability__box">
                <div class="ability__circle">
                    <img src="/images/5.png" alt="">
                </div>
                <div class="ability__text-box">Битрикс24.Диск<span><br>Храните, обменивайтесь и редактируйте документы савместно с коллегами.</span></div>
            </div>
            <div class="ability__box">
                <div class="ability__arrow">
                    <img src="/images/arrow.png" alt="альтернативный текст">
                </div>
                <div class="ability__txt"><a href="">Еще возможности Битрикс24</a></div>
            </div>
        </div>
    </div>
</div>
