<div class="clients">

        <div class="client">
            <div class="client__text-block">
                <div class="client__text-block--top">
                    <h1 class="dark">Наши клиенты</h1>
                </div>
                <div class="client__text-block--bot">
                    More than 130 large successful multinational companies have chosen Obri Inc as <br>
                    their main provider of business travel services.
                </div>

            </div>

                <div class="client__slider">
                    <div class="client__slide"><a href=""><img src="/images/client.png" alt=""></a></div>
                    <div class="client__slide"><a href=""><img src="/images/client.png" alt=""></a></div>
                    <div class="client__slide"><a href=""><img src="/images/client.png" alt=""></a></div>
                    <div class="client__slide"><a href=""><img src="/images/client.png" alt=""></a></div>
                    <div class="client__slide"><a href=""><img src="/images/client.png" alt=""></a></div>
                    <div class="client__slide"><a href=""><img src="/images/client.png" alt=""></a></div>

                </div>
        </div>

        <div class="partners">
            <div class="mbox">
                <div class="crcs">
                    <div class="crcs__box"><a href=""><img src="/images/box.png" alt=""></a></div>
                    <div class="crcs__box"><a href=""><img src="/images/box.png" alt=""></a></div>
                    <div class="crcs__box"><a href=""><img src="/images/box.png" alt=""></a></div>
                    <div class="crcs__box"><a href=""><img src="/images/box.png" alt=""></a></div>
                    <div class="crcs__box"><a href=""><img src="/images/box.png" alt=""></a></div>
                    <div class="crcs__box"><a href=""><img src="/images/box.png" alt=""></a></div>
                    <div class="crcs__box"><a href=""><img src="/images/box.png" alt=""></a></div>
                    <div class="crcs__box"><a href=""><img src="/images/box.png" alt=""></a></div>
                    <div class="crcs__box"><a href=""><img src="/images/box.png" alt=""></a></div>
                    <div class="crcs__box"><a href=""><img src="/images/box.png" alt=""></a></div>
                    <div class="crcs__box"><a href=""><img src="/images/box.png" alt=""></a></div>
                    <div class="crcs__box"><a href=""><img src="/images/box.png" alt=""></a></div>
                    <div class="crcs__box"><a href=""><img src="/images/box.png" alt=""></a></div>


                </div>
            </div>
        </div>


</div>