<div class="dorabotaem">
    <div class="mbox">
        <div class="tasker">
            <div class="first">
                <div class="first__text"><h1 class="blue">Доработаем Битрикс24 под ваши нужды</h1> </div>
                <div class="first__pod-text pod"></div>
            </div>
            <div class="second">
                <div class="second__icon-box">
                    <img src="/images/3-1.png" alt="">
                    <div class="second__text">Отчеты по времени и проектам</div>
                </div>
                <div class="second__icon-box">
                    <img src="/images/3-2.png" alt="">
                    <div class="second__text">SendPulse Интеграция</div>
                </div>
                <div class="second__icon-box">
                    <img src="/images/3-3.png" alt="">
                    <div class="second__text">Поиск email для контактов</div>
                </div>
                <div class="second__icon-box">
                    <img src="/images/3-4.png" alt="">
                    <div class="second__text">Облачная АТС ВАМТел</div>
                </div>
                <div class="second__icon-box">
                    <img src="/images/3-5.png" alt="">
                    <div class="second__text">Облачная АТС Callector</div>
                </div>
            </div>
            <div class="third">
                <a href="">Проконсультироваться бесплатно</a>
            </div>
        </div>
    </div>
</div>
