<!-- HEADER -->
<header>
    <div class="mbox">
        <div class="all_head">
            <div class="head-menu">
                <div class="head-menu__logo">
                    <a href="">bi24<span>.com</span></a>
                </div>
                <div class="head-menu__menu">
                    <ul>
                        <li><a href="">контррельс</a></li>
                        <li><a href="">калькулятор</a></li>
                        <li><a href="">о компании</a></li>
                        <li><a href="">вопросы</a></li>
                        <li><a href="">клиенты</a></li>
                    </ul>
                </div>

                <div class="bayan">
                    <div class="bayan__box">
                        <span class="bayan__1"></span>
                        <span class="bayan__2"></span>
                        <span class="bayan__3"></span>
                    </div>
                    <ul class="ul-menu">
                        <li><a href="">контррельс</a></li>
                        <li><a href="">калькулятор</a></li>
                        <li><a href="">о компании</a></li>
                        <li><a href="">вопросы</a></li>
                        <li><a href="">клиенты</a></li>
                    </ul>
                </div>

                <div class="head-menu__phone">
                    +7 999 123-45-57
                </div>


            </div>
        </div>
    </div>

    <div class="square">
        <div class="mbox">
            <div class="under-head">
                <div class="under-head__top-text">
                    <h1 class="white under-head__top-text--first">Внедряем и поддерживаем Битрикс24 для тех-то</h1>
                    <h2  class="under-head__top-text--second">Разбираемся в задачах бизнеса, помогаем оптимизировать отделы продаж</h2>
                </div>
                <div class="under-head__top-img">
                    <img src="/images/top-logo.png" alt="альтернативный текст">
                </div>
                <div class="under-head__fishka">
                    <div class="under-head__fishka--question">
                        <img src="/images/que.png" alt="альтернативный текст">
                    </div>
                    <div class="under-head__fishka--text"><h3><span>Битрикс24</span> - это такая штука, которая помогает решать всякие
                        бизнес-задачи и дает кучу ништяков. Стоит недорого, круто!</h3>
                    </div>

                </div>

            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

