<div class="block">
    <div class="mbox shadow">
        <div class="price">
            <div class="price__head">
                <h1 class="dark">Настроим CRM, обучим сотрудников</h1>

            </div>

        </div>
        <div class="obertka">
            <div class="table table-wrap">
                   <div class="table__row">
                       <div class="table__coll table__coll--head">Название услуги</div>
                       <div class="table__coll table__coll--ahead r">Пакет 1</div>
                       <div class="table__coll table__coll--ahead r">Пакет 2</div>
                       <div class="table__coll table__coll--ahead r">Пакет 3</div>
                   </div>
                   <div class="table__row">
                       <div class="table__coll">Устанавливаем наличие или отсутствие абсолютных основных для отказа в регистрации знака</div>
                       <div class="table__coll table__coll--cena">100</div>
                       <div class="table__coll table__coll--cena">80</div>
                       <div class="table__coll table__coll--cena">60</div>
                   </div>
                   <div class="table__row">
                       <div class="table__coll">Устанавливаем наличие или отсутствие абсолютных основных для отказа в регистрации знака</div>
                       <div class="table__coll table__coll--plus"><span></span></div>
                       <div class="table__coll table__coll--plus"><span></span></div>
                       <div class="table__coll table__coll--plus"><span></span></div>
                   </div>
                   <div class="table__row">
                       <div class="table__coll">Устанавливаем наличие или отсутствие абсолютных основных для отказа в регистрации знака</div>
                       <div class="table__coll table__coll--plus"><span></span></div>
                       <div class="table__coll table__coll--plus"><span></span></div>
                       <div class="table__coll table__coll--plus"><span></span></div>
                   </div>
                    <div class="table__row">
                        <div class="table__coll">Устанавливаем наличие или отсутствие абсолютных основных для отказа в регистрации знака</div>
                        <div class="table__coll table__coll--plus"><span></span></div>
                        <div class="table__coll table__coll--plus"><span></span></div>
                        <div class="table__coll table__coll--minus"><span></span></div>
                    </div>
                    <div class="table__row">
                        <div class="table__coll">Устанавливаем наличие или отсутствие абсолютных</div>
                        <div class="table__coll table__coll--plus"><span></span></div>
                        <div class="table__coll table__coll--plus"><span></span></div>
                        <div class="table__coll table__coll--plus"><span></span></div>
                    </div>
                    <div class="table__row">
                        <div class="table__coll">Устанавливаем наличие или отсутствие абсолютных основных для отказа в регистрации знака</div>
                        <div class="table__coll table__coll--plus"><span></span></div>
                        <div class="table__coll table__coll--minus"><span></span></div>
                        <div class="table__coll table__coll--minus"><span></span></div>
                    </div>
                    <div class="table__row">
                        <div class="table__coll">Устанавливаем наличие или отсутствие абсолютных</div>
                        <div class="table__coll table__coll--plus"><span></span></div>
                        <div class="table__coll table__coll--minus"><span></span></div>
                        <div class="table__coll table__coll--minus"><span></span></div>
                    </div>
                    <div class="table__row">
                        <div class="table__coll table__coll--bot">Систематизируем данные в отчёте</div>
                        <div class="table__coll table__coll--price">100 000 &#8381</div>
                        <div class="table__coll table__coll--price">60 000 &#8381</div>
                        <div class="table__coll table__coll--price">30 000 &#8381</div>
                    </div>
                    <div class="table__row">
                        <div class="table__coll table__coll--bot"></div>
                        <div class="table__coll table__coll--green"><a href="">Заказать</a></div>
                        <div class="table__coll table__coll--green"><a href="">Заказать</a></div>
                        <div class="table__coll table__coll--green"><a href="">Заказать</a></div>
                    </div>
            </div>
        </div>
        <div class="green green__wrap">
            <div class="green__text">15% скидки за ранее бронирование</div>
            <h3>Забронируйте время за 6 недель до начала разработки <br> и получите скидку</h3>
        </div>
    </div>
</div>
