<div class="why">
    <div class="mbox">
        <div class="we">

            <div class="we__top">
                <div class="we__top--text-a"> <h1 class="white">Почему мы</h1> </div>
                <div class="we__top--text-b">
                   <p> More than 130 large successful multinational companies have chosen Obri Inc as
                    their main provider of business travel services.</p>
                </div>
            </div>

            <div class="we__bot">
                <div class="we__bot--block">
                    <div class="we__bot--img"><img src="/images/4-1.png" alt=""></div>
                    <div class="we__bot--text"> <span> Конкурентные цены </span> <br>
                        А может и не совсем=)</div>
                </div>
                <div class="we__bot--block">
                    <div class="we__bot--img"><img src="/images/4-2.png" alt=""></div>
                    <div class="we__bot--text"><span>6 лет на рынке </span> <br>
                        Большой опыт работы</div>
                </div>
                <div class="we__bot--block">
                    <div class="we__bot--img"><img src="/images/4-3.png" alt=""></div>
                    <div class="we__bot--text"><span>2 офиса</span> <br>
                        в Москве и Киеве</div>
                </div>
                <div class="we__bot--block">
                    <div class="we__bot--img"><img src="/images/4-4.png" alt=""></div>
                    <div class="we__bot--text"><span>50 собственных разработчиков</span> <br>
                        Может в большие проекты</div>
                </div>
            </div>
        </div>
    </div>
</div>